<!DOCTYPE html>
<html>
  <head>
    <title>{{appName}}</title>
    <style>

      body {
        font-family: Helvetica;
      }

      ul:empty:before {
        content: "Empty! Go <a href='https://github.com/orangemug/bouncy-manager#usage'>add some apps</a>"
      }

    </style>
  </head>
  <body>

		<h1>Apps</h1>
		<ul>
			{{#apps}}
				<li>
				<a href="{{href}}">{{href}}</a> -&gt; {{redirect}}
				</li>
			{{/apps}}
		</ul>

  </body>
</html>
