<!DOCTYPE html>
<html>
  <head>
    <title>bouncy-manager</title>
    <style>

      body {
        font-family: Helvetica;
      }

    </style>
  </head>
  <body>

		<h1>Apps</h1>
		<ul>
			{{#apps}}
				<li>
				<a href="{{href}}">{{href}}</a> -&gt; {{redirect}}
				</li>
			{{/apps}}
		</ul>

  </body>
</html>
